body {
  background-color: #f8f9fa;
  color: #343a40;
}
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  border: 5px solid black;
}
.icon-tech {
  font-size: 40px;
}

.social-icon {
  margin: 0 10px;
}

.portfolio-img {
  max-width: 100%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 5px;
}
